{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr" data-navigation-type="default" data-navbar-horizontal-shape="default">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Reginald Chapple">

    <title>Coalesce | {% block title %}{% endblock title %}</title>

    <script>
        const storedTheme = localStorage.getItem('theme')

        const getPreferredTheme = () => {
            if (storedTheme) {
                return storedTheme
            }
            return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        }

        const setTheme = function (theme) {
            if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.setAttribute('data-bs-theme', 'dark')
            } else {
                document.documentElement.setAttribute('data-bs-theme', theme)
            }
        }

        setTheme(getPreferredTheme())

        window.addEventListener('DOMContentLoaded', () => {
            var el = document.querySelector('.theme-icon-active');
            if(el != 'undefined' && el != null) {
                const showActiveTheme = theme => {
                const activeThemeIcon = document.querySelector('.theme-icon-active use')
                const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
                const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

                document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                    element.classList.remove('active')
                })

                btnToActive.classList.add('active')
                activeThemeIcon.setAttribute('href', svgOfActiveBtn)
            }

            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                if (storedTheme !== 'light' || storedTheme !== 'dark') {
                    setTheme(getPreferredTheme())
                }
            })

            showActiveTheme(getPreferredTheme())

            document.querySelectorAll('[data-bs-theme-value]')
                .forEach(toggle => {
                    toggle.addEventListener('click', () => {
                        const theme = toggle.getAttribute('data-bs-theme-value')
                        localStorage.setItem('theme', theme)
                        setTheme(theme)
                        showActiveTheme(theme)
                    })
                })

            }
        })
    </script>

    <link rel="shortcut icon" type="image/x-icon" href="{% static "favicon.ico" %}">

    <link rel="stylesheet" type="text/css" href="{% static "assets/vendor/font-awesome/css/all.min.css" %} " />
    <link rel="stylesheet" type="text/css" href="{% static "library/bootstrap-icons/font/bootstrap-icons.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "assets/vendor/OverlayScrollbars-master/css/OverlayScrollbars.min.css" %}" />
    {% block stylesheets %}{% endblock stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/style.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />

    {% block styletag %}{% endblock styletag %}
</head>
<body>
    {% block content %}{% endblock content %}

	<script src="{% static "library/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
	<script src="{% static "assets/vendor/OverlayScrollbars-master/js/OverlayScrollbars.min.js" %}"></script>
	{% block javascript %}{% endblock javascript %}
	<script src="{% static "assets/js/functions.js" %} "></script>
	<script src="{% static "js/commons.js" %}"></script>

    {% comment %} {% if request.user.is_authenticated %}
    <script src="{% static "js/notify.js" %}"></script>
    {% endif %} {% endcomment %}

    {% block scripttag %}{% endblock scripttag %}
</body>
</html>
