{% load static %}

<section class="pt-5 pb-0 position-relative"
    style="background-image: url({% static "images/home.jpg" %}); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <div class="bg-overlay theme-gradient opacity-8"></div>
    <!-- Container START -->
    <div class="container">
        <div class="pt-5">
            <div class="row position-relative">
                <div class="col-9 mx-auto pt-sm-5 text-center">
                    <!-- Title -->
                    <h1 style="font-weight: 400;" class="text-white overlay-text font-shadow text-uppercase ms-lg-5 ms-md-4 ms-sm-0">Coalesce</h1>
                    <p class="text-white font-shadow lead me-1" style="font-weight: 400; letter-spacing: .344rem">Create &middot; Connect &middot; Change</p>
                </div>
                <div class="mb-n5 mt-3 mt-lg-5">
                    <div class="col-9 mx-auto">
                        <!-- Category START -->
                        <div class="d-md-flex gap-3 mt-5">
                            <!-- Title -->
                            <div class="mx-auto bg-mode shadow rounded p-5 mt-5">
                                <h5 class="mb-3 text-start">Explore how you could help.</h5>
                                <!-- Form START -->
                                <form class="row g-3 justify-content-center">
                                    <div class="col">
                                        <!-- What -->
                                        <div class="input-group">
                                            <input class="form-control form-control-lg me-1 pe-5" type="text" placeholder="What">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <!-- Where -->
                                        <div class="input-group">
                                            <input class="form-control form-control-lg me-1 pe-5" type="text" placeholder="Where">
                                            <a class="position-absolute top-50 end-0 translate-middle-y text-secondary px-3 z-index-9" href="#"> <i
                                                    class="fa-solid fa-crosshairs"></i> </a>
                                        </div>
                                    </div>
                                    <div class="col-md-2 d-grid">
                                        <!-- Search -->
                                        <a class="btn btn-lg btn-primary" href="#">
                                            Search
                                        </a>
                                    </div>
                                </form>
                                <!-- Form END -->
                            </div>
                        </div>
                        <!-- Category END -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>