{% extends 'base.html' %}
{% load static %}

{% block title %}
Login
{% endblock title %}

{% block content %}
<main>
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100 py-5">
            <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
                <div class="card card-body text-center p-4 p-sm-5">
                    <h1 class="mb-2">Sign in</h1>
                    <p class="mb-0">Don't have an account?<a href="{% url "register" %}"> Click here to sign up</a></p>

                    <form class="mt-sm-4" method="POST">
                        {% csrf_token %}
                        <div class="mb-3 input-group-lg">
                            <input name="username" id="id_username" class="form-control" placeholder="Enter Username" aria-required="true" />
                        </div>

                        <div class="mb-3 input-group-lg">
                            <input name="password" id="id_password" type="password" class="form-control" placeholder="Enter Password" aria-required="true" />
                        </div>
                        <div class="d-grid"><button type="submit" class="btn btn-lg btn-primary">Login</button></div>

                        <p class="mb-0 mt-3">
                            &copy;2025 <a target="_blank" href="#">Coalesce Community Action Network</a> All rights reserved
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
