{% extends 'base.html' %}
{% load static %}

{% block title %}
Register
{% endblock title %}

{% block content %}

<main>
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100 py-5">
            <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
                <div class="card card-body text-center p-4 p-sm-5">
                    <h1 class="mb-2">Sign up</h1>
                    <p class="mb-0">Already have an account?<a href="{% url "login" %}"> Click here to sign in</a></p>

                    <form class="mt-sm-4" action="{% url "register" %}" method="POST" novalidate encrypt="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3 input-group-lg">
                            {{ form.username.errors }}
                            {{ form.username }}
                        </div>
                        <div class="mb-3 input-group-lg">
                            {{ form.name.errors }}
                            {{ form.name }}
                        </div>
                        <div class="mb-3 input-group-lg">
                            {{ form.email.errors }}
                            {{ form.email }}
                        </div>
                        <div class="mb-3 input-group-lg">
                            {{ form.password1.errors }}
                            {{ form.password1 }}
                        </div>
                        <div class="mb-3 input-group-lg">
                            {{ form.password2.errors }}
                            {{ form.password2 }}
                        </div>
                        <div class="d-grid"><button type="submit" class="btn btn-lg btn-primary">Register</button></div>

                        <p class="mb-0 mt-3">
                            &copy;2025 <a target="_blank" href="#">Coalesce Community Action Network</a> All rights reserved
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}

