{% extends 'base.html' %}

{% block title %}
Projects
{% endblock title %}


{% block content %}
{% include "partials/_navbar.html" %}
<main role="main">
    <div class="container">
        <div class="card card-body mb-3">
            <div class="row" id="search">
                <div class="col-12">
                    <h1>Projects</h1>
                </div>
                <div class="col-md-6 col-sm-12">
                    <form method="get">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search projects..." value="{{ request.GET.search }}" aria-label="Search projects..." aria-describedby="search-addon">
                            <button class="btn btn-outline-secondary" type="submit" id="search-addon">Search</button>
                          </div>
                    </form>
                </div>
                <div class="col-md-6 col-sm-12">
                    <form method="get">
                        <div class="input-group">
                            <select class="form-select" name="cause" aria-label="Select a cause">
                                <option value="">All Causes</option>
                                {% for cause in causes %}
                                    <option value="{{ cause.name }}" {% if request.GET.cause == cause.name %}selected{% endif %}>{{ cause.name }}</option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-outline-secondary" type="submit">Filter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card card-body mb-3">
            <ul>
                {% for project in page_obj %}
                    <li>
                        <a href="{% url 'project_detail' project.pk %}">{{ project.title }}</a>
                        <!-- Display other project details here -->
                    </li>
                {% empty %}
                    <li>No projects found.</li>
                {% endfor %}
            </ul>

            <!-- Pagination Links -->
            <nav aria-label="Page navigation">
                <ul class="pagination mb-0">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.cause %}&cause={{ request.GET.cause }}{% endif %}" aria-label="First">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.cause %}&cause={{ request.GET.cause }}{% endif %}" aria-label="Previous">
                                <svg class="svg-inline--fa fa-chevron-left" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"></path></svg>
                            </a>
                        </li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.cause %}&cause={{ request.GET.cause }}{% endif %}">{{ num }}</a>
                            </li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.cause %}&cause={{ request.GET.cause }}{% endif %}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.cause %}&cause={{ request.GET.cause }}{% endif %}" aria-label="Next">
                                <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"></path></svg>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.cause %}&cause={{ request.GET.cause }}{% endif %}" aria-label="Last">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</main>
{% include "partials/_footer.html" %}
{% endblock %}
