{% extends "base.html" %}

{% block title %}
{{ project.title }}
{% endblock title %}

{% block content %}
    {% include "partials/_navbar.html" %}
        <main>
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-8 col-12 vstack gap-4">
                        {% include "partials/_projectheader.html" with project=project %}

                        <div class="row g-4 pb-3">
                            <div class="col-12">
                                <div class="card card-body">
                                    <div class="d-flex mb-3">
                                        <!-- Avatar -->
                                        {% if request.user.photo %}
                                            <div class="avatar avatar-xs me-2">
                                                <a href="#">
                                                    <img class="avatar-img rounded-circle" src="{{ project.created_by.photo.url }}" alt="">
                                                </a>
                                            </div>
                                            {% else %}
                                            <div class="avatar avatar-xs me-2">
                                                <a href="#">
                                                    <img class="avatar-img rounded-circle" src="{% static "default.jpg" %}" alt="">
                                                </a>
                                            </div>
                                         {% endif %}

                                        <!-- Post input -->
                                        <form class="w-100">
                                            <input class="form-control pe-4 border-0" placeholder="Share your thoughts..."
                                                data-bs-toggle="modal" data-bs-target="#saveTextPostModal">
                                        </form>
                                    </div>
                                    <!-- Share feed toolbar START -->
                                    <ul class="nav nav-pills nav-stack small fw-normal">
                                        <li class="nav-item">
                                            <a class="nav-link bg-light py-1 px-2 mb-0" href="#!" data-bs-toggle="modal"
                                            data-bs-target="#feedActionPhoto"> <i class="bi bi-image-fill text-success pe-2"></i>Photo</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link bg-light py-1 px-2 mb-0" href="#!" data-bs-toggle="modal"
                                            data-bs-target="#feedActionVideo"> <i class="bi bi-camera-reels-fill text-info pe-2"></i>Video</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link bg-light py-1 px-2 mb-0" data-bs-toggle="modal"
                                            data-bs-target="#modalCreateEvents"> <i class="bi bi-calendar2-event-fill text-danger pe-2"></i>Event </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link bg-light py-1 px-2 mb-0" href="#!" data-bs-toggle="modal"
                                            data-bs-target="#modalCreateFeed"> <i class="bi bi-emoji-smile-fill text-warning pe-2"></i>Feeling /Activity</a>
                                        </li>
                                        <li class="nav-item dropdown ms-sm-auto">
                                            <a class="nav-link bg-light py-1 px-2 mb-0" href="#" id="feedActionShare"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots"></i>
                                            </a>
                                            <!-- Dropdown menu -->
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="feedActionShare">
                                                <li>
                                                    <a class="dropdown-item" href="#"> <i class="bi bi-envelope fa-fw pe-2"></i>Create a poll</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#"> <i class="bi bi-bookmark-check fa-fw pe-2"></i>Ask a question </a>
                                                </li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#"> <i class="bi bi-pencil-square fa-fw pe-2"></i>Help</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <!-- Share feed toolbar END -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="row g-4">
                            <div class="col-12">
                                {% include "partials/_projectstats.html" with project=project %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {% include "partials/_footer.html" %}
{% endblock content %}
