body, html {
    height: 100%;
    margin: 0;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.main-container {
    display: flex;
    height: 100%;
    padding-top: 56px; /* Height of the navbar */
}
.sidebar, .main-content {
    overflow-y: auto;
}
.sidebar {
    width: 250px;
    flex-shrink: 0;
}
.main-content {
    flex-grow: 1;
}

#checkbox-list {
  list-style: none; /* Remove default list styling */
  padding: 0;
}

.checkbox-group ul {
  padding-left: 20px; /* Indent child checkboxes */
}

@media (max-width: 991.98px) {
    .sidebar-left {
        display: none;
    }
}
@media (max-width: 767.98px) {
    .sidebar-right {
        display: none;
    }
}
