{% extends "base.html" %}

{% block title %}
Project Objectives Management
{% endblock title %}

{% block content %}
    {% include "partials/_navbar.html" %}

    <main>
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3">
                    {% include "partials/_projectnav.html" %}
                </div>
                
                <div class="col-lg-9 vstack gap-4">
                    <div class="card h-100">
                        <div class="card-header d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0">
                            <h1 class="h4 card-title">Objectives</h1>
                            <!-- modal button -->
                            <a class="btn btn-complementary-soft" href="#" data-bs-toggle="modal" data-bs-target="#saveObjectiveModal">
                                <i class="fa-solid fa-plus pe-1"></i> Add objective
                            </a>
                        </div>

                        <div class="card-body">
                            <div class="">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-muted">Objective</th>
                                            <th class="min-w-125px text-muted">Status</th>
                                            <th class="text-end text-muted">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="objectives-list">
                                        {% for objective in project.objectives.all %}
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <a asp-controller="Projects" href="#" class="fs-6 fw-bolder text-decoration-none mt-1">
                                                        {{ objective.description }}
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="text-muted fw-bold fs-6 d-block mt-1">
                                                    {% if objective.is_complete %}
                                                        Complete
                                                    {% else %}
                                                        Incomplete
                                                    {% endif %}
                                                </span>
                                            </td>
                                            <td class="pe-0 text-end">
                                                <a class="btn btn-light text-muted fw-bolder btn-sm px-5" href="#">
                                                    View
                                                </a>
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="4" class="text-center">
                                                No objectives available.
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}