{% load static %}

<div class="card">
    <!-- Cover image -->
    <div class="h-200px rounded-top"
        style="background-image:url({% static "default.jpg" %}); background-position: 60% 40%; background-size: cover; background-repeat: no-repeat;">
    </div>
    <!-- Card body START -->
    <div class="card-body py-0">
        <div class="d-sm-flex align-items-start text-center text-sm-start">
            <div>
                <!-- Avatar -->
                <div class="avatar avatar-xxl mt-n5 mb-3">
                    <a href="#">
                        <img class="avatar-img rounded-circle border border-white border-3" src="{{ project.created_by.photo.url }}" alt="">
                    </a>
                </div>
            </div>
            <div class="ms-sm-4 mt-sm-3">
                <!-- Info -->
                <h1 class="mb-0 h5">{{ project.title }} <i class="bi bi-patch-check-fill text-success small"></i></h1>
                <small>
                   <i class="fa-solid fa-user-tie me-1"></i> {{ project.created_by.name }}
                </small>
            </div>
            <!-- Button -->
            <div class="d-flex mt-3 justify-content-center ms-sm-auto">

                <a class="btn btn-complementary-soft me-2" href="#" data-bs-toggle="modal" data-bs-target="#volunteerRequestModal">
                    <i class="bi bi-heart-fill pe-1"></i>
                    Support
                </a>

                <div class="dropdown">
                    <!-- Card share action menu -->
                    <button class="icon-md btn btn-complementary-soft" type="button" id="profileAction2" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </button>
                    <!-- Card share action dropdown menu -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileAction2">
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-envelope-paper-heart fa-fw pe-2"></i>
                                Share project in a message
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-file-earmark-pdf fa-fw pe-2"></i>
                                Save project to PDF
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-flag fa-fw pe-2"></i>
                                Report
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- List profile -->
        <ul class="list-inline mb-0 text-center text-sm-start mt-3 mt-sm-0">
            <li class="list-inline-item">
                <i class="fa-solid fa-heart me-1"></i> {{ project.cause.name }}
            </li>
            <li class="list-inline-item">
                <i class="fa-solid fa-map-location-dot me-1"></i> {{ project.location }}
            </li>
            <li class="list-inline-item">
                <i class="fa-solid fa-calendar-plus me-1"></i> Started on {{ project.created_at|date:"M j, Y" }}
            </li>
        </ul>
    </div>
    <!-- Card body END -->
    <div class="card-footer mt-3 pt-2 pb-0">
        <!-- Nav profile pages -->
        <ul
            class="nav nav-bottom-line align-items-center justify-content-center justify-content-md-start mb-0 border-0">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    Feed
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    About
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Objectives
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Expenditures
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Positions
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Volunteers
                    <span class="badge bg-primary bg-opacity-10 text-primary small">250</span>
                </a>
            </li>
        </ul>
    </div>
</div>
